{% extends "base.html" %}

{% block head %}
    {{ super() }}
	<title>你的礼物清单</title>
{% endblock %}

{% block content %}
{{super()}}

<div class="container">

	<div class="row">
		<!-- table-responsive响应式表格 内容放不下时会允许拖 -->
		<div class="table-responsive">
			<!-- 表格 class="table" table-bordered加上边框 table-striped加上隔行变色 table-hover鼠标悬停效果 -->
			<h1 align="center">我的礼物Drift</h1>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>书名</th>
						<th>接收人</th>
						<th>状态</th>
						<th>地址</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
				{% for x in giver_list %}
					<tr>
						<td>{{x.get('title')}}</td>
						<td>{{x.get('nickname')}}</td>
						<td>{{x.get('status')}}</td>
						<td>{{x.get('address')}}</td>
						<td>
							{% if x.get('status') == '已签收' %}
								<form action="#" method="post">
									<button type="submit" class="btn btn-danger" name="ok">
										完成
									</button>	
								</form>
							{% elif x.get('status')=='待处理' %}
								<form action="{{url_for('web.ok')}}" method="post">
									<input type="hidden" name="book_id" readonly="readonly" value="{{x.get('book_id')}}">
									<input type="hidden" name="drift_id" readonly="readonly" value="{{x.get('id')}}">
									<button type="submit" class="btn btn-primary" name="ok">
										同意Drift
									</button>
									<button type="submit" class="btn btn-danger" name="no">
										拒绝Drift
									</button>
								</form>
							{% elif x.get('status') == '已拒绝' %}
								<p>{{x.get('status')}}</p>
							{% else %}
								<p>等待收货</p>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	

		<div class="row">
		<!-- table-responsive响应式表格 内容放不下时会允许拖 -->
		<div class="table-responsive">
			<!-- 表格 class="table" table-bordered加上边框 table-striped加上隔行变色 table-hover鼠标悬停效果 -->
			<h1 align="center">我的心愿Drift</h1>
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th>书名</th>
						<th>赠予人</th>
						<th>状态</th>
						<th>地点</th>
						<th>操作</th>
					</tr>
				</thead>

				<tbody>
				{% for x in recipient_list %}

					<tr>
						<td>{{x.get('title')}}</td>
						<td>{{x.get('nickname')}}</td>
						<td>{{x.get('status')}}</td>
						<td>{{x.get('address')}}</td>
						<td>
							{% if x.get('status') == '已签收' %}
								<form action="#" method="post">
									<button type="submit" class="btn btn-danger" name="confirm">
										确认收货
									</button>	
								</form>
							{% elif x.get('status') == '已拒绝' %}
								<p>{{x.get('status')}}</p>
							{% else %}
								<p>{{x.get('status')}}</p>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div>



{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}