[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiomysql = "*"
pyquery = "*"
mysqlclient = {path = "./mysqlclient-1.3.13-cp36-cp36m-win_amd64.whl"}
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
pymongo = "*"
mongoengine = "*"
flask-mongoengine = "*"
redis = "*"
requests = "*"
"beautifulsoup4" = "*"
dbutils = "*"

[dev-packages]

[requires]
python_version = "3.6"
